body {
    background-color: #7FF9FF;
    color: black;
    font-family: 'Arial black', sans-serif;
}

/* For WebKit browsers (Chrome, Safari) */
/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f8db1;
    /* color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the handle on hover */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Optional: Remove margin */
}

/* Styling for the color change */
.color-changing {
    animation: changeColor 2s forwards;
    /* Change color animation */
}

@keyframes changeColor {
    0% {
        color: transparent;
    }

    100% {
        color: #8A2BE2;
    }
}

.container {
    align-items: center;
    display: flex;
    height: auto;
    margin: 5%;
}

.paragraph {
    text-align: center;
}

button {
    border: none;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 7%;
    padding-right: 7%;
    cursor: pointer;
}

form {
    background-color: rgba(203, 176, 231, 0.596);
    border: 2px solid rgb(139, 47, 164);
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
    width: 30vw;
    padding-bottom: 4%;
    margin-right: 0%;
}

input {
    background-color: #FFFFFF;
    width: 85%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid darkgray;
    padding-left: 20px;
    outline-color: rgba(88, 0, 255, 1);
}

#pic2 {
    animation: scale-in-top 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media (min-width: 700px) {
    .container {
        justify-content: space-between;
    }

    #pic2 {
        width: 10vw;
    }

    #top {
        text-align: left;
        margin-bottom: -70px;
    }
}

@media (max-width: 700px) {
    form {
        width: 200%;
    }

    .container {
        justify-content: center;
        flex-direction: column;
        justify-content: flex
    }

    h1 {
        margin-left: -50%;
        width: 220%;
        font-size: small;
        margin-bottom: -80px
    }

    #pic2 {
        width: 20vw;
    }

    #top {
        text-align: center;

    }
}

@keyframes scale-in-top {
    0% {
        transform: scale(0);
        transform-origin: 20% 0%;
        opacity: 0.3;
    }

    100% {
        transform: scale(1);
        transform-origin: 20% 0%;
        opacity: 1;
    }
}